*{
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #f6fbfc;
}
.content{
    padding: 1rem;
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width:992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}